@import "_normalize";
@import "grid";
@import "gridmd";
@import "gridlg";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,600&display=swap');

.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  // width: 30%;
  // padding: 10px 0px 10px 10px;
  box-sizing: border-box;

  .search {
    font-size: 25px;
    text-align: center;

    h5 {
      font-size: 30px;
      margin: 20px 0;
      color: #338bff;
      text-shadow: 5px 5px 10px rgba(99, 191, 233, 0.6);
    }
  }

  #search-bar {
    margin: 10px 0;
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background: rgb(252, 252, 252);
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 5px grey;
    background: rgb(91, 187, 224);
    border-radius: 10px;
  }

  .attractions {
    justify-content: center;
    height: 200px;
    overflow: auto;

    div {
      margin: 10px 0;
      background-color: rgb(8, 98, 201);
      padding: 15px;
      color: #fff;
    }

    h5 {
      font-size: 25px;
      margin: 10px 0;
    }

    p {
      line-height: 2;
    }

    .btnGroup {
      border: none;
      background-color: #e5ba22;
      padding: 10px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }

    .btnGroup:hover {
      box-shadow: 5px 5px 5px rgba(221, 190, 88, 0.3);
    }

    span {
      display: inline-block;
      padding: 10px;
    }

    .addGroup,
    .telGroup,
    .ticketGroup {
      margin: 5px;
      background-color: #10a44a;
    }

    .remarksGroup {
      display: block;
      letter-spacing: .1em;
    }
  }
}

.map {
  position: relative;
  margin-top: 10px;
}

#mapid {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.dropdown {
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #fff;
  top: 10px;
  right: 10px;
  border: 5px solid rgb(53, 106, 167);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: 15px;
    letter-spacing: .5em;
    margin: 20px 0 15px 15px;
  }

  #cities {
    font-size: 20px;
    width: 100px;
  }

}

.load {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  img {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width:768px) {
  .dropdown {
    width: 320px;
    flex-direction: row;

    h5 {
      font-size: 25px;
      letter-spacing: .3em;
    }

    #cities {
      font-size: 25px;
    }


  }
}

@media screen and (min-width:1200px) {
  .main {
    flex-direction: row;
    margin: 0;
  }

  .menu {
    .attractions {
      height: 100vh;
    }
  }

  .map {
    margin-top: 0px;
  }
}